{{> head }}
<body>

    {{> navbar }}
<div class="row text-center">
    <div class="col">
        <h1>Luna</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla mollitia commodi nam nostrum laborum veritatis ducimus quas molestias. Architecto dolores a culpa mollitia quidem officiis harum saepe iste unde temporibus!</p>
    
        <img src="assets/img/luna.jpg" alt="img-thumbnail">
    </div>
</div>
    
    

    {{> footer }}
</body>


